sphinx
myst-parser
rst2pdf
git+https://github.com/executablebooks/sphinx-book-theme
sphinx-tippy
sphinx-prompt
sphinx-design
sphinx_book_theme
sphinx-copybutton
sphinx-tabs
sphinx-prompt
sphinx-togglebutton
pydata-sphinx-theme